---
layout: default
asset_path: /assets/
---

<img class="img-responsive" src="{{ "assets/slide4_thin.jpg" }}">

<div class="container">
  <h1>High Altitude Balloon Flights</h1>
  <br/>

  <ul class="post-list">
    {% for post in site.posts reversed %}
      {% if post.categories contains 'flight' %}
        <li>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
              <u>{% if post.payload_title %}{{ post.payload_title }}{% else %}{{ post.title }}{% endif %}</u>
            </a>
            <small>{{ post.description }}
              {% if post.habhub.live and post.live %}
              &nbsp;&nbsp;&nbsp;<a class="live-tracker" target="_blank" href="{{ post.habhub.live }}"><u>LIVE TRACKER</u></a>
              {% endif %}
            </small>
          </h2>
          <span class="post-meta">{{ post.date | date: "%d %B %Y" }}</span>
          {% if post.flight.pico %}
          <code>pico</code>&nbsp;
          {% endif %}
          {% if post.flight.max_altitude %}
          <code><img src="/assets/famfamfam_mini_icons/arrow_up.gif", alt="Up">
            {{ post.flight.max_altitude }}km
          </code>&nbsp;
          {% endif %}
          {% if post.flight.total_distance %}
          <code><img src="/assets/famfamfam_mini_icons/arrow_right.gif", alt="Distance">
            {{ post.flight.total_distance }}km
          </code>&nbsp;
          {% endif %}
          {% if post.flight.countries %}
          <code>
            {% for flag in post.flight.countries %}
            <a href="http://wikipedia.org/wiki/{{ flag.name }}">
              <img src="/assets/famfamfam_flag_icons/gif/{{ flag.isocode }}.gif"
                   alt="{{ flag.isocode }}" title="{{ flag.name }}">
            </a>
            {% endfor %}
          </code>&nbsp;
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
