---
layout: default
asset_path: /assets/
stories:

  - id: /rocketry/ukseds/2015/09/09/lil-blackbird
    image: posts/lil-blackbird/lil-blackbird.png

  - id: /hab/flight/2016/04/30/ubseds15
    image: flights/14/flying_away_1.jpg

  - id: /hab/2014/06/15/buseds1
    image: hab.jpg

---

<img class="img-responsive" src="{{ "slide1.png" | prepend: page.asset_path }}">

<div class="container">
  <h1>We send stuff into the stratosphere <small>and sometimes get it back again</small></h1>
  <p class="lead">We are the Bristol branch of UKSEDS (UK Students for the Exploration and
  Development of Space). Here are some projects that we've done.</p>

  {% for story in page.stories %}
    {% capture image %}{% cycle 'odd', 'even' %}{% endcapture %}

    <div class="row">
      <div class="col-md-4 {% if image == 'even' %}col-md-push-8{% endif %}">
          <img src="{{ story.image | prepend: page.asset_path }}"
          class="img-responsive img-rounded">
        </div>
      <div class="col-md-8 {% if image == 'even' %}col-md-pull-4{% endif %}">
        {% for post in site.posts %}
        {% if post.id == story.id %}
        <h2>{{ post.title }}</h2>
        <p class="lead">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
	<p><a class="btn btn-default btn-primary" href="{{ post.url }}">Read more...</a></p>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <hr>
  {% endfor %}


</div>
