---
layout: default
asset_path: /assets/
---

<img class="img-responsive" src="{{ "slide2_thin.jpg" | prepend: page.asset_path }}">

<div class="container">
  <h1>Projects</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.categories contains 'test' %}{% else %}
        {% if post.categories contains 'flight' %}{% else %}
          {% if post.categories contains 'image-map' %}{% else %}
          <li>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <span class="post-meta">{{ post.date | date: "%B %Y" }}</span>
          </li>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</div>
