/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: text-bottom;

        path {
            fill: grey;
        }
    }
}

/**
 * Code formatting
 */
pre,
code {
    border: 1px solid lighten(grey, 40%);
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


#committee-gallery img {
  max-width:18rem;
}
#committee-gallery li {
  border: solid white;
  margin: 20px
}
